body {
  background-image: url("/itulogom.png");
  background-size: 97%;
  background-position: 400% 30%;
}
.alta {
  position: fixed;
  left: 10;
  bottom: 20px;
  width: 1600px;
  height: 150px;
}
.home-button1 {
  position: fixed;
  left: 20px;
  bottom: 600px;
  width: 200px;
  height: 80px;
}
.home-button2 {
  position: fixed;
  left: 20px;
  bottom: 500px;
  width: 200px;
  height: 80px;
}
.home-button3 {
  position: fixed;
  left: 20px;
  bottom: 400px;
  width: 200px;
  height: 80px;
}
.home-button4 {
  position: fixed;
  left: 20px;
  bottom: 300px;
  width: 200px;
  height: 80px;
}
